<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd">

	<!-- Main data source for livesystem -->
	<bean id="datasource-production"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="org.postgresql.Driver" />
		<property name="url" value="jdbc:postgresql://ec2-54-197-255-248.compute-1.amazonaws.com:5432/dflnhp3ubht1qi" />
		<property name="username" value="zofrwwjmbhyryn" />
		<property name="password" value="2uUp0nzyRoD7dS7eynzloi39wv" />
	</bean>
	
	<jdbc:embedded-database id="datasource-test" type="H2"></jdbc:embedded-database>

	<bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="datasource-test" />
		<property name="persistenceUnitName" value="livesystem-persistence-test" />
	</bean>

	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>

	<jpa:repositories base-package="pl.demo.core.model.repo"
					  factory-class="pl.demo.core.model.repo.CustomRepositoryFactoryBean"/>

	<!--Support for pagination by Spring Data -->
	<bean class="org.springframework.data.web.config.SpringDataWebConfiguration" />
	<!-- If you're using Spring HATEOAS as well register this one *instead* of the former	-->
	<bean class="org.springframework.data.web.config.HateoasAwareSpringDataWebConfiguration" />

	<tx:annotation-driven/>
</beans>
