<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <!--
        com.sun.mail.smtp.SMTPSendFailedException: 554 5.7.1 Sender address rejected.
        In case of many providers (like "o2.pl") means that only account owner (like "user@o2.pl") is allowed as the message sender.
    -->

    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="poczta.interia.pl" />
        <property name="port" value="587" />
        <property name="username" value="robertsikora" />
        <property name="password" value="mazur" />

        <property name="javaMailProperties">
            <props>
                <prop key="mail.smtp.auth">true</prop>
                <prop key="mail.smtp.starttls.enable">false</prop>
            </props>
        </property>
    </bean>

    <bean id="velocityEngine" class="pl.demo.core.service.VelocityFactory"/>

</beans>