<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

       <bean id="crudService" class="pl.demo.core.service.basicservice.CRUDServiceImpl" abstract="true">
              <property name="repositoryMap">
              <map>
                  <entry key="pl.demo.core.model.entity.Advert" value-ref="advertRepository"/>
                  <entry key="pl.demo.core.model.entity.User" value-ref="userRepository"/>
                  <entry key="pl.demo.core.model.entity.Comment" value-ref="commentRepository"/>
                  <entry key="pl.demo.core.model.entity.MediaResource" value-ref="mediaResourceRepository"/>
              </map>
              </property>
       </bean>

       <bean id="authenticationService" class="pl.demo.core.service.security.authentication.AuthenticationServiceImpl"/>
       <bean id="advertService" class="pl.demo.core.service.advert.AdvertServiceImpl" parent="crudService"/>
       <bean id="commentService" class="pl.demo.core.service.comment.CommentServiceImpl" parent="crudService"/>
       <bean id="userService" class="pl.demo.core.service.user.UserServiceImpl" parent="crudService"/>
       <bean id="resourceMediaService" class="pl.demo.core.service.resource.ResourceMediaServiceImpl" parent="crudService"/>
       <bean id="registrationService" class="pl.demo.core.service.registration.RegistrationServiceImpl" parent="crudService"/>
</beans>