<ng-navigation-bar shift="90"></ng-navigation-bar>

<div class="create-new-container page-top" style="padding-top: 70px;">
	<form name='advertForm' class="form-horizontal" role="form" novalidate>
		<div class="panel">
			<div class="heading">
				<span class="icon mif-share"></span>
				<span class="title">Tutaj zamieść treść ogłoszenia</span>
			</div>
			<div class="content">
				<div class="form-group margin-top30">
					<label for="inputTitle" class="col-sm-2 control-label">Tytuł ogłoszenia<span class="asterix"> *</span></label>
					<div class="col-sm-7">
						<input type="text" id="inputTitle" name="title" class="form-control" placeholder="Tytuł" ng-model="saveCommand.advert.title" ng-model-options="{ updateOn: 'blur' }" required ng-autofocus>
						<div class="error-container" ng-show="advertForm.$submitted || advertForm.title.$touched">
							<small ng-show="advertForm.title.$error.required"> Podaj tytuł ogłoszenia </small>
						</div>
					</div>
				</div>
				<div class="form-group margin-top30">
					<label class="col-sm-2 control-label">Opis<span class="asterix"> *</span></label>
					<div class="col-sm-10">
						<ng-editor id="description" name="description" model-name="saveCommand.advert.description"  rows="10" required></ng-editor>
						<div class="error-container" ng-show="advertForm.$submitted || advertForm.description.$touched">
							<small ng-show="advertForm.description.$error.required"> Podaj opis </small>
						</div>
					</div>
				</div>
				<div class="form-group margin-top30">
					<label for="inputLocation" class="col-sm-2 control-label">Podaj lokalizację<span class="asterix"> *</span></label>
					<div class="col-sm-7">
						<input type="text" class="form-control" id="inputLocation"
							name="locationName" ng-autocomplete="saveCommand.advert.locationName" ng-model="saveCommand.advert.locationName" ng-model-options="{ updateOn: 'blur' }"
							details="saveCommand.autoComplete.details" options="saveCommand.autoComplete.options"
							placeholder="Wpisz miasto i województwo" required>
						<div class="error-container" ng-show="advertForm.$submitted || advertForm.locationName.$touched">
							<small ng-show="advertForm.locationName.$error.required">Podaj swoją lokalizację </small>
						</div>
					</div>
				</div>
				<div class="form-group margin-top30">
					<label for="endDate" class="col-sm-2 control-label">Data wygaśnięcia</label>
					<div class="col-sm-3">
						<p class="input-group" style="margin-bottom: 0px;">
							<input type="text" class="form-control datepicker" id="endDate"
								ng-model="saveCommand.advert.endDate" ng-model-options="{ updateOn: 'blur' }"
								datepicker-popup="{{format}}" is-open="opened" min-date="minDate" datepicker-options="dateOptions" close-text="Close" />
							<span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="open($event)">
									<i class="glyphicon glyphicon-calendar"></i>
								</button>
							</span>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="panel">
			<div class="heading" style="z-index: 0">
				<span class="icon mif-contacts-mail"></span>
				<span class="title">Podaj swoje dane kontaktowe</span>
			</div>
			<div class="content" style="z-index: 0">
				<div class="form-group margin-top30">
					<label for="contact" class="col-sm-2 control-label">Imię i nazwisko<span class="asterix"> *</span></label>
					<div class="col-sm-3">
						<input type="text" class="form-control" placeholder="Imię i nazwisko" id="contact" name="contact" ng-model="saveCommand.advert.contact" ng-model-options="{ updateOn: 'blur' }" required>
						<div class="error-container" ng-show="advertForm.$submitted || advertForm.contact.$touched">
							<small ng-show="advertForm.contact.$error.required"> Podaj Imię i nazwisko </small>
						</div>
					</div>
				</div>
				<div class="form-group margin-top30">
					<label for="inputPhone" class="col-sm-2 control-label">Numer telefonu<span class="asterix"> *</span></label>
					<div class="col-sm-3">
						<input type="text" id="inputPhone" placeholder="Telefon" name="phone" class="form-control" ng-model="saveCommand.advert.phone" ng-model-options="{ updateOn: 'blur' }" ng-validate-number required>
						<div class="error-container" ng-show="advertForm.$submitted || advertForm.phone.$touched">
							<small ng-show="advertForm.phone.$error.required"> Podaj numer telefonu </small>
						</div>
						<div class="error-container" ng-show="advertForm.phone.$dirty">
							<small ng-show="advertForm.phone.$error.number">
								Podaj prawidłowy numer telefonu
							</small>
						</div>
					</div>
				</div>
				<div class="form-group margin-top30">
					<label for="inputEmail" class="col-sm-2 control-label">Adres e-mail</label>
					<div class="col-sm-3">
						<input type="text" class="form-control" name="email" placeholder="Adres e-mail" id="inputEmail" ng-model="saveCommand.advert.email" ng-model-options="{ updateOn: 'blur' }" ng-validate-email>
						<div class="error-container" ng-show="advertForm.email.$invalid && advertForm.email.$dirty">
							<small ng-show="advertForm.email.$error.email">
								Podaj prawidłowy adres e-mail, np. robertsikora@interia.pl
							</small>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div ng-controller="UploadCtrl">
			<div flow-init="{target:'api/resources',
						 	 testChunks:false,
							 permanentErrors: [415, 500, 501]}"
				 flow-name="uploader.flow"
				 flow-file-success="success($file, $message)"
				 flow-files-added="processFiles($files)"
				 flow-error="errorHandler($file, $message, $flow)"
				 flow-files-submitted="$flow.upload()">
				<div class="panel">
					<div class="heading" style="z-index: 0;height:50px;">
						<span class="icon mif-camera"></span>
						<span class="title">Dodaj zdjęcia</span>
						<span class="btn action-btn pull-right" flow-btn style="margin-right:10px;padding-top:5px;padding-bottom:5px;"><span class="glyphicon glyphicon-plus-sign"></span> Dodaj zdjęcie </span>
					</div>
					<div class="content" style="z-index: 0">
						<div ng-repeat="image in uploader.flow.files track by $index">
							<div class="row">
								<div class="col-sm-3">
									<span class="text">{{image.name}}&nbsp;&nbsp;&nbsp;&nbsp;</span><img class="preview" flow-img="image"/>
									<div class="progress active progress-striped" ng-class="{active: image.isUploading()}">
										<div class="progress bar" role="progressbar" ng-style="{'width' : (image.progress() * 100) + '%'}"
											 style="width: 100%; margin-top: 0px; margin-bottom: 0px;"></div>
									</div>
								</div>
							<button class="btn btn-danger" ng-click="deleteImage(image)"><span class="glyphicon glyphicon-trash"></span> Usuń zdjęcie </button>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group margin-top10">
					<div class="col-sm-12">
						<button type="submit" class="btn action-btn header-button-right" ng-click="saveCommand.save()"><span class="glyphicon glyphicon-floppy-save"></span>&nbsp;&nbsp;&nbsp;Zapisz ogłoszenie</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>