<ul class="unstyled">
    <li style="margin-bottom:15px;">
        <span ng-hide="user">
            <span class="mif-enter"></span>
            <a class="register-btn" data-toggle="modal" data-target="#loginModal"> Zaloguj się </a>
        </span>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown" ng-show="user">
                <a href="" class="dropdown-toggle register-btn" style="padding: 0px;" data-toggle="dropdown"><span ng-bind="user.name"></span><b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a ng-click="logout()"><span class="glyphicon glyphicon-off"></span> Wyloguj </a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <span ng-hide="user">
            <span class="mif-user-plus"></span>
            <a class="register-btn" data-toggle="modal" data-target="#registerModal"> Zarejestruj się </a>
        </span>
    </li>
</ul>