<div class="container-slider" style="border-left-width: 0px; border-right-width: 0px;">
	<carousel interval="mainInterval">
      <slide ng-repeat="slide in slides" active="slide.active">
        <img class="img-search" ng-src="{{slide.image}}" style="margin:auto;">
        <div class="carousel-caption">
          <h4>Header for slide {{$index}}</h4>
          <p>{{slide.text}}</p>
        </div>
      </slide>
    </carousel>
	<div class="searchbox">
		<input id="keywords-search" type="text" class="leftsearchbox" style="padding-left:10px;" ng-model="searchCommand.keyword" placeholder="Czego szukasz ?" ng-autoclick target-id="button-search">
		<span class="glyphicon glyphicon-map-marker middlesearchbox" style="width: 30px; top: 0px; padding-top: 15px; padding-left: 10px;"></span>
		<input id="location-search" type="text" class="middlesearchbox" style="padding-left: 10px;" ng-autocomplete="searchCriteria.locationName" details="searchCommand.autoComplete.details" options="searchCommand.autoComplete.options" placeholder="Podaj lokalizację">
		<select class="middlesearchbox" style="width:10%" ng-model="searchCommand.radius" ng-init="searchCommand.radius='10'">
			<option value="10">10 km</option>
			<option value="20">20 km</option>
			<option value="30">30 km</option>
			<option value="50">50 km</option>
			<option value="100">100 km</option>
			<option value="200">200 km</option>
			<option value="500">500 km</option>
			<option value="-1">>500 km</option>
		</select>
		<span class="input-group-btn rightsearchbox">
		  <button id="button-search" class="btn input-lg btn-search" type="button" ng-click="searchCommand.search()">
			  <span class="glyphicon glyphicon-search"></span> Szukaj </button>
	    </span>
	</div>

</div>
<div class="mean-header font-white margin-top100">
	<h2> Korzystaj z serwisu na kilka sposobów </h2>
</div>
<div id="main" class="main-container page-content margin-top100">
	<h2>  Tutaj możesz dodać lub znaleźć interesujące Cię ogłoszenie </h2>
	<div class="tile-container margin-top100">
		<a class="tile-large bg-indigo fg-white" data-role="tile" ng-click="searchCommand.search()" style="opacity: 1; transform: scale(1); transition: all 0.3s ease 0s;">
			<div class="tile-content iconic">
				<span class="icon mif-list2"></span>
			</div>
			<div class="tile-content">
				<div class="padding10">
					<p class="tertiary-text fg-white no-margin">Znajdz interesujące Cię zlecenie. Dzięki wielu kryteriom wyszukiwania możesz dowolnie przeszukiwać bazę naszych ogłoszeń i znaleźć ogłoszenie
						w pełni spełniąjce Twoje wymagania</p>
				</div>
			</div>
			<span class="tile-label">Szukam zlecenia</span>
		</a>
		<a class="tile-large bg-darkBlue fg-white" data-role="tile" ng-href="#/new" style="opacity: 1; transform: scale(1); transition: all 0.3s ease 0s;">
			<div class="tile-content iconic">
				<span class="icon mif-plus"></span>
			</div>
			<span class="tile-label">Chcę dodać zlecenie</span>
		</a>
		<a class="tile-large bg-steel fg-white" data-role="tile" ng-href="#/users/account/{{user.id}}" style="opacity: 1; transform: scale(1); transition: all 0.3s ease 0s;">
			<div class="tile-content iconic">
				<span class="icon mif-4x  mif-profile"></span>
				<span class="tile-label">Moje Konto</span>
			</div>
		</a>
	</div>
</div>
<div class="margin-top100">
	<div class="row">
		<h2> Strona w liczbach </h2>
		<div class="col-sm-6">
			<h3>Dodanych ogłoszeń</h3>
			</br>
			<h2> {{dashbord.adverts}} <span class="glyphicon glyphicon-th"></span> </h2>
		</div>
		<div class="col-sm-6">
			<h3>Aktywnych użytkowników</h3>
			</br>
			<h2> {{dashbord.users}} <span class="glyphicon glyphicon-user"></span> </h2>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<h3>Dodanych komentarzy</h3>
			</br>
			<h2> {{dashbord.comments}} <span class="glyphicon glyphicon-comment"></span> </h2>
		</div>
	</div>
</div>

