<div id="navigation-bar" class="navigation-bar">
    <div class="row">
        <div class="pull-right font-white" ng-show="showNavigationBar">
            <ng-login-panel></ng-login-panel>
        </div>
        <div class="pull-left">
            <a href="#/main">
                <button class="btn action-btn"><< Wróć</button>
            </a>
        </div>
    </div>
    <div class="row margin-top30 navigation-bar-text" ng-show="showNavigationBar">
        <span class="pull-left"> {{navigationBarTitle}} </span>
        <span class="pull-right"> <span ng-show="navigationBarPhone" class="glyphicon glyphicon-phone-alt"></span> {{navigationBarPhone}} </span>
    </div>
</div>