<div class="row margin-top50">
    <div style="float:left; display: inline-block;">
        <select id="inputPageSize" class="form-control input-sm" ng-model="currentPageSize" ng-init="currentPageSize='10'"
                style="margin-left: 50px;">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
        </select>
    </div>
    <nav style="float:right; display: inline-block; margin-top: -20px;">
        <ul class="pagination pagination-sm">
            <li ng-class="{disabled:paginationCmd.noPrev()}">
                <a href="" ng-click="paginationCmd.selectPrevious()"><< Poprzednia</a>
            </li>
            <li ng-repeat="page in pages"
                ng-class="{active:paginationCmd.isActive(page)}">
                <a href="" ng-click="paginationCmd.selectPage(page)">{{page}}</a>
            </li>
            <li ng-class="{disabled:paginationCmd.noNext()}">
                <a href="" ng-click="paginationCmd.selectNext()">Następna >></a>
            </li>
        </ul>
    </nav>
</div>