<ng-navigation-bar shift="90"></ng-navigation-bar>

<div class="create-new-container page-top" style="padding-top: 70px;">
	<div class="panel">
		<div class="heading">
			<span class="icon mif-user"></span>
			<span class="title">Zarządzaj swoim kontem</span>
		</div>
		<div class="content">
		   <form name='userForm' class="form-horizontal" role="form" novalidate>
			   <div class="pull-right">
				   <button class="btn action-btn" ng-click="editCommand.save()" style="margin-left: 50px;"><span class="glyphicon glyphicon-floppy-save"></span>&nbsp;&nbsp;&nbsp;Zapisz zmiany </button>
			   </div>
			   <div class="pull-right">
				   <button type="button" class="btn action-btn" data-toggle="button" ng-click="editCommand.enableDisable()" style="margin-left: 50px;"><span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;&nbsp;Edytuj</button>
			   </div>
			   <div class="form-group">
					<label for="inputName" class="col-sm-2 control-label">Adres e-mail</label>
					<div class="col-sm-3">
						<input type="text" class="form-control" id="inputEmail" ng-model="editCommand.user.contact.email" disabled>
					</div>
				</div>
				<div class="form-group">
					<label for="inputEmail" class="col-sm-2 control-label">Imię i nazwisko</label>
					<div class="col-sm-3">
						<input type="text" class="form-control" id="inputName" ng-model="editCommand.user.name" ng-disabled="editCommand.isEditable">
					</div>
				</div>
				<div class="form-group">
					<label for="inputEmail" class="col-sm-2 control-label">Lokalizacja</label>
					<div class="col-sm-3">
						<input type="text" class="form-control" id="inputLocation" ng-model="editCommand.user.contact.location" ng-disabled="editCommand.isEditable">
					</div>
				</div>
				<div class="form-group">
					<label for="inputEmail" class="col-sm-2 control-label">Numer telefonu</label>
					<div class="col-sm-3">
						<input type="text" class="form-control" id="inputPhone" ng-model="editCommand.user.contact.phone" ng-disabled="editCommand.isEditable">
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="panel margin-top100">
		<div class="heading">
			<span class="icon mif-list"></span>
			<span class="title">Twoje ogłoszenia</span>
		</div>
		<div class="content">
			<table class="table">
				<thead>
				<tr>
					<th>#</th>
					<th>Tytuł</th>
					<th>Data dodania</th>
					<th>Aktywne</th>
					<th>Zarządzaj ogłoszeniami</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="advert in advertGrid.model" ng-controller="AccountAdvertController">
					<th scope="row">{{$index + 1}}</th>
					<td> {{ advert.title }} </td>
					<td> {{ advert.creationDate | date:'dd-MM-yyyy' }}</td>
					<td> <input type="checkbox" name="active-checkbox" ng-model="advert.active" ng-switch-checkbox> </td>
					<td>
						<button type="button" class="btn action-btn" ng-click="advertGrid.edit()"><span class="glyphicon glyphicon-pencil"></span> Edytuj</button>
						<button type="button" class="btn action-btn" ng-click="advertGrid.delete(advert.id)"><span class="glyphicon glyphicon-trash"></span> Usuń</button>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>