<h1><b> Cześć ${userMessage.receipt} !</b></h1>



Zadano Ci pytanie na stronie <b>Demo</b>:

${userMessage.content}




Proszę wyślij swoją odpowiedź na ${userMessage.sender}





Pozdrowienia,
Demo team